body{
  background-color: #121216;
}

::-webkit-scrollbar{
  background-color: #161515;
  width: 15px;
}

::-webkit-scrollbar-thumb{
  background-color: #46464c;
  border-radius: 15px;
  border: 2px solid #161515;
}

::-webkit-scrollbar-track{
  border-left: 1px solid #2a2a2f;
}