.section-faq{
  max-width: 32%;
  margin: calc(50px*2) auto;
}

.title-principal{
  margin: 60px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.title-principal h1{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.section-questions{
  margin: 40px 0;
}

.title-faq::marker{
  content: "";
}


.title-faq{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details .title-faq{
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

details p{
  margin: 25px 0;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.section-faq p a{
  color: #FFFFFF;
}

.section-faq .litle-text{
  padding: 60px 0;
  font-size: 13px;
  line-height: 30px;
  color: #92929d;
  font-family: Arial, Helvetica, sans-serif;
}

.section-footer{
  padding: 70px 130px;
  border-top: 1px solid #32323d;
}

.section-downloads{
  margin: 10px 0 60px 0;
  text-align: center;
}

.section-downloads a:first-child{
  vertical-align: super;
}

.section-footer .link-principal{
  padding-bottom: 15px;
  font-weight: 700;
  color: #FFFFFF;
}

.list-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-items ul{
  padding-right: 5px; 
}

.list-items li{
  line-height: 40px;
}

.list-items li::first-letter{
  text-transform: capitalize;
}

.list-items li a{
  color: #bebec7;
  font-size: 16px;
  text-decoration: none;
  font-family: Open,Arial,sans-serif;
}

.section-under{
  padding: 110px 10px 50px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-media i{
  margin-right: 25px;
  font-size: 25px;
  color: #FFFFFF;
}

.section-legal .copyright{
  color: #92929d;
}

.section-legal .lang{
  background-color: transparent;
  color: #FFFFFF;
  font-size: medium;
  cursor: pointer;
  border: 0;
  opacity: 0;
}

.section-legal .lang option{
  color: #000000;
}