.section-faq{
  max-width: 32%;
  margin: calc(50px*2) auto;
  font-family: Arial, Helvetica, sans-serif !important;
}

.title-principal{
  margin: 60px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.title-principal h1{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-questions{
  margin: 40px 0;
}

.title-faq::marker{
  content: "";
}


.title-faq{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

details .title-faq{
  font-size: 30px;
  font-weight: 600;
  color: #FFFFFF;
}

details p{
  margin: 25px 0;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
}

.section-faq p a{
  color: #FFFFFF;
}

.section-faq .litle-text{
  padding: 60px 0;
  font-size: 13px;
  line-height: 30px;
  color: #92929d;
}

.section-footer{
  padding: 70px 130px;
  border-top: 1px solid #32323d;
  font-family: Open,Arial,sans-serif !important;
}

.section-downloads{
  margin: 10px 0 60px 0;
  text-align: center;
}

.section-downloads a:first-child{
  vertical-align: super;
}

.section-footer .link-principal{
  padding-bottom: 15px;
}

.section-footer .link-principal a{
  font-weight: 600;
  color: #FFFFFF;
}

.list-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-items li{
  line-height: 45px;
}

.list-items li::first-letter{
  text-transform: capitalize;
}

.list-items li a{
  color: #bebec7;
  font-size: 16px;
  text-decoration: none;
}

.section-under{
  padding: 110px 10px 50px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-media{
  padding: 5px;
  font-size: 22px;
  color: #FFFFFF;
}

.section-media i{
  margin-right: 25px;
}

.section-legal .copyright{
  position: relative;
  color: #818181;
  font-size: small;
  display: inline-block;
}

.section-lang-legal{
  padding: 0 25px 0 8px;
  position: relative;
  font-size: 15px;
  display: inline;
  color: #FFFFFF;
}

.section-lang-legal i{
  position: absolute;
  top: 0;
  right: 0;
}

.section-lang-legal .choose-lang{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

