@font-face {
  font-family: deezer;
  src: url(/fonts/deezer-regular.ttf);
}

/* Estilos de la seccion de library */
.section-library{
  color: #FFFFFF;
  text-align: center;
  font-family: Reboto, OpenSans, Arial, sans-serif;
}

/* Estilos para la division */

.title-line{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-line .line:first-of-type{
  background: #363638;
}

.title-line .line{
  width: 90%;
  height: 1px;
}

.title-line .title-div{
  position: absolute;
  padding: 0 20px;
  background-color: #121216;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;  
}

/* Estilos para los titulos y la imagen */

.title-library{
  padding: 45px 0 20px 0;
}

.titles h1{
  font-size: 42px;
  font-weight: 600;
  font-family: deezer, Arial, sans-serif;
  line-height: 50px;
  color: #FFFFFF;
}

.titles h3{
  padding-top: 25px;
  font-size: 18px;
  line-height: 25px;
  color: #bebec7;
}

.image{
  padding: 25px 0 5px 0;
}

/* Estilos para el boton */

.button-library a button{
  width: 35%;
  padding: 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* Estilos de la seccion FAQ */
 .section-library, .section-faq{
  max-width: 32%;
  margin: calc(50px*2) auto;
  font-family: Reboto, OpenSans, Arial, sans-serif;
}

.title-principal{
  margin: 60px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.title-principal h1{
  font-size: 45px;
  font-weight: 700;
  font-family: deezer, Arial, sans-serif;
  text-transform: uppercase;
}

.section-questions{
  margin: 40px 0;
}

details .title-faq{
  display: flex;
  justify-content: space-between;
  align-items: center;
  content: "";
  font-size: 32px;
  font-weight: 600;
  font-family: deezer, Arial, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

details[open] i{
  transform: rotate(90deg);
}

details p{
  margin: 25px 0;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
}

.section-faq p a{
  color: #FFFFFF;
}

.section-faq .litle-text{
  padding: 60px 0;
  font-size: 13px;
  line-height: 25px;
  color: #92929d;
}

/* Estilos de la seccion pie de pagina */

.section-footer{
  padding: 70px 130px;
  border-top: 1px solid #32323d;
  font-family: Reboto, OpenSans, Arial, sans-serif;
}

/* Estilos de la seccion descargables */

.section-downloads{
  margin: 10px 0 60px 0;
  text-align: center;
}

.section-downloads a:first-child{
  vertical-align: super;
}

/* Estilos de la seccion enlaces */

.section-footer .link-principal{
  padding-bottom: 15px;
}

.section-footer .link-principal a{
  font-weight: 600;
  color: #FFFFFF;
}

.list-items{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-items li{
  line-height: 45px;
}

.list-items li::first-letter{
  text-transform: capitalize;
}

.list-items li a{
  color: #bebec7;
  font-size: 16px;
  text-decoration: none;
}

/* Estilos de la seccion media y legal */

.section-under{
  padding: 110px 10px 50px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-media{
  padding: 5px;
}

.section-media a{
  font-size: 22px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 25px;
}

.section-legal .copyright{
  position: relative;
  color: #818181;
  font-size: small;
  display: inline-block;
}

.section-lang-legal{
  padding: 0 25px 0 8px;
  position: relative;
  font-size: 15px;
  display: inline;
  color: #FFFFFF;
}

.section-lang-legal i{
  position: absolute;
  top: 0;
  right: 0;
}

.section-lang-legal .choose-lang{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
