.encabezado {
    float: left;
    list-style: none;
    margin-top: -10px;
    margin-left: 8px;
}

.btnMisocio{ 
    font-size: 12px;
    background-color: transparent;
    padding: 50px 28px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    color: white;

}

.SocioParrafo{
    flex-direction: column;
    margin-top: -30px;
}

.tigo{
    float: left;
    list-style: none;
    margin-top: -40px;
    margin-left: 100px;
    
}
.logotigo{
    display: flex;
    height:22px;
    margin-top: -10px;
    cursor: pointer;


}

.logo-deezer{
    justify-content: center;
    text-align: center;
    align-items:content;
    list-style: none;
    margin-top: 2rem;
    margin-right: 290px;
    cursor: pointer;
}

.btn{
    background-color: transparent;
    float: right;
    list-style: none;
    margin-top: -50px;
    margin-right: 68px;
}

.IniciarSesion{
    padding: 0.8rem;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

