@font-face {
    font-family: "deezer";
    src: url("../fonts/deezer-regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}
.cardsSection{
    display: flex;
    flex-direction: column;
    max-width: 600;
    align-items: center;
    margin: 80px 0px 84px;

}

.cardsTitle{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    width: 600px;
    text-align: center;
    font-family: deezer, Arial, sans-serif;
    margin: 16px 0px 48px;
}

.cardContainer{
    width: 600px;
    margin-bottom: 48px;
}

.cardFree{
    border-radius: 20px;
    background-image: linear-gradient(57.8deg, rgb(107, 66, 180) 9.75%, rgb(148, 58, 171) 95.44%);
    padding: 24px 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.category{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 38px;
    font-family: deezer, Arial, sans-serif;
    padding: 0px 0px 18px;
    font-weight: 500;
}

a>b{
    font-weight: 900;
}

.textCards{
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    text-align: center;
    margin: 0px 0px 24px;
}

.containerBotton{
    width: 100%;
    margin: 0px 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center
}

.bottonCard{
    width: 338px;
    height: 54px;
    background-color: #121216;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 400px;
    font-size: 14px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    font-weight: 700;
}

.bottonCard:hover{
    color: #121216;
    background-color: #ffffff;
}

.textSecCards{
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    font-size: 14px;
    margin: 0px 0px 6px;
}

.moreInformation{
    color: #ffffff;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    font-size: 14px;
}

.cardFamily{
    border-radius: 20px;
    background-image: linear-gradient(53.13deg, rgb(220, 76, 17) 10.71%, rgb(254, 171, 46));
    padding: 24px 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.timeCard{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    font-family: deezer, Arial, sans-serif;
    font-weight: 700;
}

.priceCard{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    margin: 5px 0px 24px;
}

.tigo{
    text-decoration: none;
    cursor: pointer;
}

.cardTigo{
    border-radius: 20px;
    background-image: linear-gradient(rgb(32, 33, 34), rgb(58, 59, 71) 55.56%);
    padding: 24px 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.textCardTigo{
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    text-align: center;
    margin: 0px 0px 18px;
}

.logoTigo{
    height: 25px;
    margin: 0px 0px 18px;
}

.cardPremium{
    border-radius: 20px;
    background-image: linear-gradient(69.06deg, rgb(184, 79, 221) -26.76%, rgb(73, 101, 244) 44.6%, rgb(46, 251, 116) 132.54%);
    padding: 24px 80px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.cardDespl{
    width: 600px;
    margin-bottom: 24px;
} 
.cardAnual{
    width: 598px;
    height: 37px;
    border-radius: 20px;
    border:1px solid #92929d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCardAnual{
    width: 600px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
    font-weight: 600;
    padding: 8px 0px;
}

.containesDesc{
    width: 52px;
    height: 20px;
    color: #ffffff;
    margin-right: 8px;
    background-image: linear-gradient(69.06deg, rgb(184, 79, 221) -26.76%, rgb(73, 101, 244) 44.6%, rgb(46, 251, 116) 132.54%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Roboto', 'Open Sans',Arial, sans-serif;
}

details[open] .detalle{
    position: absolute;
    z-index: -1;
}

summary::marker{
    content: "";
}
  
